body {
    margin: 0px;
    height: 100vh;
}

table {
    width: 399px;
    border-collapse: collapse;
}

tr:first-child td{
    border-top: 0;
}

tr:last-child td{
    border-bottom: 0;
}

td {
    height: 133px;
    width: 133px;
    border-style: solid;
    border-width: 5px;
    position: relative;
}

td:first-child {
    border-left: 0;
}

td:last-child {
    border-right: 0;
}

td:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.shape {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
}

.d-none {
    display: none;
}

.gameView {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
